---
header_image_name: sunrise.png
title: Brody Eller
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>{{ page.title }}</title>
    {{ site.bootstrap_css }}
    {{ site.bootstrap_theme }}
    {{ site.jquery }}
    {{ site.bootstrap_javascript }}
  </head>
  <body>

    {% include header.html %}

    <!--
    <a href={{ site.url }}>
        <img class="jumbotron" src="{{ site.url }}/images/{{ page.header_image_name }}" />
    </a>
    -->
    <section class="jumbotron">
      <div class="container-fluid">
        <h1>{{ site.title }}</h1>
      </div>
    </section>

    <div class="container">
      <h1>Posts</h1>
      <ul class="list-group">

        {% for post in site.posts %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item list-group-item-action">
            <h2>
              {{ post.title | escape }}
            </h2>

            <small>{{ post.excerpt | remove: '<p>' | remove: '</p>'}}</small>
            <br>
            <h5>{{ post.date | date: "%b %-d, %Y" }}</h5>

          </a>
        {% endfor %}

      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>

    {% include footer.html %}

  </body>
</html>

<style>


.jumbotron {
  display: flex;
  background-position: center;
  background-image: url("{{ site.url }}/{{ site.images_folder }}/{{ page.header_image_name }}");
  background-size: cover;
  height: 250px;
  margin-top: 0px;
  margin-bottom: 10px;

}

.jumbotron h2 {
  text-align: center;
}

</style>
