<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <a href={{ site.url }} class="navbar-brand">{{ site.title }}</a>

      </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ site.url }}">Home</a></li>
            <li {% if page.url == "blog/index.html" %}class="active"{% endif %}><a href="{{ site.url }}/blog/index.html">Posts</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
</nav>


<!--
<ul class="nav navbar-nav navbar-right">
  <li class="nav-item"><a class="nav-link" href={{ site.url }}>Home</a></li>
</ul>


<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href={{ site.url }}>{{ site.title }}</a>
  <ul class="navbar navbar-nav">
    <li><a href="#">Posts</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
</div>
-->
